{% extends "layout.html" %}

{% block head %}
    Index
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.symbol }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.numshares }}</td>
                        <td>{{ row.price | usd }}</td>
                        <td>{{ row.total | usd}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash | usd}}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end">{{ grand_total | usd}}</td>
                </tr>
            </tfoot>
        </table>
    </main>
{% endblock %}
