{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="username" placeholder="username" type="text">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="password" placeholder="password" type="password">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}